* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(186, 193, 196);
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* font-family: "Poppins", sans-serif; */
    min-height: 100vh;
}

header {
    font-size: 1.3rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: n5px;
    border-radius: 5px;
    background: white;
}

form button {
    color: #0b3750;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #8cb3d3;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 00.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: rgb(179, 76, 76);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(121, 167, 121);
}

.todo-item {
    padding: 10px;
    text-align: center;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 10px;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

select {
    color: #0b3750;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #0b3750;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: #8cb3d3;
}